// AbsoluteValue.vm 
@ARG
A=M
D=M       
@CHECK_POSITIVE
D;JGE   
@NEGATIVE_VALUE
0;JMP     

(CHECK_POSITIVE)
@ARG
A=M
A=A+1
M=D     
@2
M=0      
@END
0;JMP   

(NEGATIVE_VALUE)
D=-D     
@ARG
A=M
A=A+1
M=D       
@2
M=-1     

(END)
@END
0;JMP     
